# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 99cd1758b8318590ae2e9261fa405be0ee8ae0d0f327e732f134ce660cde95328263919b028054d6d8eade1f3de4703b9f2d4fe31a5dec4aafd63554ea239eaf
  github_app_key: <Github app key>
  github_app_secret: <Github app secret>

test:
  secret_key_base: f1e0fec98516a22febe60e1465e0378e307430e39d25f106a132bf499bfe38c78c91bed425782f540fd01314643f84972755d02287504e862e0ea8c1e1942f1c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
