/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic);
@import "bootstrap";

// body {
//   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
// }

.round-profile-img {
  border-radius: 22px;
  border: 2px solid rgba(227, 225, 225, 1);
  margin-top: 4px;
}

.app-header-bg {
  background-color: #f3f3f3; //#DDE2E5;
  border-bottom: 1px solid #e5e5e5;
}

.head-text {
  margin-top: 150px;
  text-align: center;
  font-size: 60px;
}

.sign-in-with-github {
  text-align: center;
  margin-top: 35px;
}
